main{
    max-width: 1200px;
    margin: auto;
    height: 2000px;
    
}
header{
    text-align: center;
    align-items: center;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content:center;
}
button{
    margin-right: 10px;
}
ul img{
    display: flex;
    justify-content:flex-start;
    margin-right: 20px;
    width: 60px;
    height: 140px;
}
ul img:hover{
    width: 70px;
    height: 150px;
    
}

body, html {
  height: 100%;
}
article{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 870px;
}














/*JS scripthez tartozó classok*/
.parallax1 {
  /* The image used */
  background-image: url("kepek/asia1nagy.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax1 {
    background-attachment: scroll;
  }
}


.nude1 {
    border: 1px solid black;
    background-image: url("kepek/asia 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax2 {
  /* The image used */
  background-image: url("kepek/barna 1 nagy.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax2 {
    background-attachment: scroll;
  }
}


.nude2 {
    border: 1px solid black;
    background-image: url("kepek/barna 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax3 {
  /* The image used */
  background-image: url("kepek/vörös1 Nagy.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax3 {
    background-attachment: scroll;
  }
}


.nude3 {
    border: 1px solid black;
    background-image: url("kepek/vörös 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax4 {
  /* The image used */
  background-image: url("kepek/szoke 1.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax4 {
    background-attachment: scroll;
  }
}


.nude4 {
    border: 1px solid black;
    background-image: url("kepek/szoke 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax5 {
  /* The image used */
  background-image: url("kepek/vörös2 1.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax5 {
    background-attachment: scroll;
  }
}


.nude5 {
    border: 1px solid black;
    background-image: url("kepek/vörös2 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax6 {
  /* The image used */
  background-image: url("kepek/black 1.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax6 {
    background-attachment: scroll;
  }
}


.nude6 {
    border: 1px solid black;
    background-image: url("kepek/black 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax7 {
  /* The image used */
  background-image: url("kepek/bait 1.png");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax7 {
    background-attachment: scroll;
  }
}


.nude7 {
    border: 1px solid black;
    background-image: url("kepek/bait 2.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax8 {
  /* The image used */
  background-image: url("kepek/");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax8 {
    background-attachment: scroll;
  }
}


.nude8 {
    border: 1px solid black;
    background-image: url("kepek/");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
.parallax9 {
  /* The image used */
  background-image: url("kepek/");

  /* Full height */
  height: 200%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax9 {
    background-attachment: scroll;
  }
}


.nude9 {
    border: 1px solid black;
    background-image: url("kepek/");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}
